/* Filters */
   .r-result{
    margin-top: 2rem;
    &-filter{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #cccc;
      .r-filter{
        width: 100%;
        max-width: 200px;
        label{
          display: block;
        }
        .r-filter-search{
          position: relative;
          .input-custom-class{
            height: 40px;
            border: solid 1px #ccc;
            width: 100%;
          }
          button{
            background: url(./assets/search.svg) no-repeat;
            background-position: center;
            background-size: 80%;
            border: none;
            width: 20px;
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
          }
        }

      }
    }
  }

 /* list item */
.r-list-item-link{
    inset: 0px !important;
    position: absolute !important;
  }
  .r-list-item-group{
    margin: 15px 0;
    position: relative;
  }
  .r-list-item{
    display: flex;
    height: 100%;
    align-items: stretch;
  }
 /* load-more-link */
  .load-more-link{
    background: transparent;
    margin: 0 auto;
    border: none;
    display: block;
  }

//// for bla ////
  /* filters */
  .r-filter{
    label{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .select-custom-class{
    div[class*="control"]{
      border-radius: 0;
      height: 40px;
      border-color: #CCCCCC;
    }
  }

  // content
.r-content-description{
    font-weight: 500;
}