[buildout]
parts +=
    code-analysis
    test
    coverage
    test-coverage
    createcoverage
    robot

[code-analysis]
flake8-ignore = E501,W503,E203

[test]
recipe = zc.recipe.testrunner
eggs =
    ${instance:eggs}
    imio.smartweb.core[test]
defaults = ['-s', 'imio.smartweb.core', '--auto-color', '--auto-progress']
environment = testenv

[testenv]
zope_i18n_compile_mo_files = true
TZ=UTC
DIRECTORY_URL = http://localhost:8080/Plone
EVENTS_URL = http://localhost:8080/Plone
NEWS_URL = http://localhost:8080/Plone

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]
