#portal-header #portal-logo {

	margin: 0!important;
	padding: 1.5rem 0;

}






.r-wrapper{
  display: block;
  @media screen and (min-width:1200px){
    display: grid;
    grid-template-columns: minmax(20px, 800px) minmax(20px, 100%);
    justify-content: space-between;
    width:     calc(648px + 50vw);
    margin-left: auto;
    gap: 40px;
  }
  .r-result{
    &-list{
      padding:0;
      .r-list-item-group{
        position: relative;
        list-style: none;
        margin:1rem 0;
        .r-list-item-link{
          inset: 0px !important;
          position: absolute !important;
        }
        .r-list-item{
          display: flex;
          height: 100%;
          flex-direction: column;
          @media screen and (min-width:600px){
          flex-direction: row;
          }
          .r-item-img{
            width: 100%;
            padding-bottom: 56%;
            @media screen and (min-width:600px){
              width: 246px;
              height: 149px;
              padding-bottom: 0;
            }
            background-size: cover;
          }
          .r-item-text{
            margin-top: 0.6rem;
            @media screen and (min-width:600px){
              margin-left: 1.5rem;
              margin-top: 0;
            }
            flex-grow: 1;
            a{
              position: relative;
            }
            .r-item-title{
              font-weight: bold;
              display: block;
            }
            .r-item-categorie{
              display: block;
            }
            .r-item-all{
              display: flex;
              gap: 10px;
              .r-item-adresse{
                width: 36%;
              }
            }
          }
        }
      }
    }
  }
}



// FOR BLA

.r-wrapper{

  .r-result{
    &-list{
      .r-list-item-group{
        .r-list-item{
          .r-item-img{
            border-radius: 15px 15px 15px 0px;
          }
          .r-item-text{
            font-size: 13px;
            &:after{
              content: "";
              width: 50px;
              height: 50px;
              background: yellow;
              border-radius: 50px;
            }
            .r-item-title{
              font-size: 18px;
            }
            .r-item-categorie{
              margin-bottom: 5px;
            }
            .r-item-all{
              color: #727272;

              a{
                color: #000;
              }
              .r-item-adresse{
                .itineraty{
                  margin-top: 5px;
                  &:before{
                    content: "";
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    background-size: contain;
                    background: url(../../assets/location-bla.svg) no-repeat;
                    vertical-align: middle;
                  }
                }
              }
              .r-item-contact{
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

}


.r-map{
  @media screen and (max-width:1200px){
    margin-top: 2rem!important;
  }
  .leaflet-container{
    @media screen and (max-width:1200px){
    height: 50vh!important;
    }
  }
}