* {
    background-size: cover;
    background-position: center;
}
html, body {
    max-width: 100%;
}
body {
    overflow-x: hidden!important;
}
.card-img-top {
    padding-top: 56.25%;
}
.template-folder_contents table .actionmenu a.action.set-default-page {
    display: none;
}
#banner {
    grid-column-start: 1;
    grid-column-end: -1;
    height: 200px;
    background-size: cover;
}
.hidden-banner {
    height: 55px !important;
}
.pat-structure .pagination > .active > a {
    z-index: 0;
}
.carousel-image {
    padding-bottom: 50%;
}
.swiper-slide .swiper-image {
    padding-bottom: 60%;
}
.swiper-wrapper {
    padding-bottom: 50px;
}
