#subsite-navigation {
  text-align: center;
  li {
    display: inline;
  }
}


.card-img-top{
  padding-top: 56.25%;
}
.list_group_menu_body_image{
  width: 240px;
  padding-top: 56.25%;
}

//banner
#banner{
  grid-column-start: 1;
  grid-column-end: -1;
  height:200px;
  background-size: cover;
}
.hidden-banner{
  height: 55px!important;
}

// a modifier dans le barceloneta
// header
html {
    #portal-header{
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;
      #portal-searchbox{
        order: inherit;
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: end;
        max-width: max-content;
      }
      #portal-globalnav-wrapper{
        grid-column-start: 1;
        grid-column-end:-1;
      }
      #plone-breadcrumb{
        grid-column-start: 1;
        grid-column-end:-1;
      }
      #header-actions{
        grid-column-start: 3;
        grid-row-start: 1;
        justify-self: end;
      }
    }

}