.r-campaign {
    min-height: 200px;
}

.compaign-li {
    position: relative;
    list-style: none;
    margin-bottom: 1.5rem;
    .r-list-item-link {
        position: relative;
        z-index: 1;
    }
}

.campaign-card-container {
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.08);
    height: 100%;
    .campaign-img {
        padding-bottom: 56%;
        background: #c9c9c9;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .campaign-text {
        padding: 20px;
    }
}

.campaign-description {
    margin-top: 2rem;
}

.votes {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    .vote-pour {
        background-color: rgba(0, 128, 0, 0.642);
        padding: 10px;
        border-radius: 5px;
    }
    .vote-contre {
        background-color: rgba(255, 0, 0, 0.656);
        padding: 10px;
        border-radius: 5px;
    }
}

.leaflet-container {
    height: 500px;
    margin-bottom: 3rem;
}
